$base-color: #212224
$base-color2: #101112
$primary-color: #ffc263
$sub-color: #FFCE82
html
    font-size: 16px
    font-family: Karla
    padding: 0px
    margin: 0px

body
    margin: 0px
    padding: 0px
    
.background
        display: flex
        flex-direction: column
        gap: 25px
        position: absolute
        opacity: 0.3

header
    background-color: $base-color
    color: #FFFFFF
    padding-top: 19px
    padding-left: 10%
    padding-right: 10%
    height: 650px
    
    

    
    .topheader
        font-family: Noto Sans
        font-size: 1.5rem
        display: flex
        justify-content: center
        gap: 3rem
        height: fit-content

    
    .home
        color: $sub-color
        border-bottom: 0.15rem solid $sub-color
    
    .mediumtext
        display: flex
        flex-direction: row
    .intro
        flex: 1
    .headerRight
        flex: 1
        height: 500px
        padding-top: 40px
        
    .intro1 
        font-size: 1.5rem
        padding-top: 80px
        font-weight: 400
    
    .intro2
        font-size: 4rem
        padding-top: 28px
        padding-bottom: 22px
        font-weight: 300
        b
            color: $sub-color
    .intro3
        font-size: 1.5rem
        font-style: normal
        font-weight: 300
        line-height: normal
        width: 588px
        padding-bottom: 36px
        b
            color: $sub-color
    .intro4
        display: flex
        gap: 10px
        padding: 12px 18px
        border: 3px solid $primary-color 
        width: fit-content
        font-style: normal
        line-height: normal
        font-weight: 700
        font-size: 1.5rem
        color: $primary-color
        background: $base-color2
        .introsvg
            width: 28px
            height: 28px
            

.bodyPage 




    
    background-color: $base-color2
    color: #ffffff
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    padding-bottom: 105px
    gap: 64px
    b
        color: $primary-color
        font-style: normal
        font-weight: 700
        line-height: 144.9%
        font-size: 2rem

    .title
        margin-top: 198px
        margin-bottom: 120px
        font-family: Karla
        font-size: 2rem
        font-style: normal
        font-weight: 700
        line-height: 144.9%
        background-color: $base-color2
        z-index: 2

    .line
        position: absolute
        padding-top: 43px
 
        
    .boxleft
        display: flex
        flex-direction: column
        text-align: right 
        width: fit-content
        gap: 12px
        padding: 16px
        position: relative
        right: 155px
        background-color: $base-color2
        z-index: 2
        font-size: 1.5rem

    .boxright
        display: flex
        flex-direction: column
        text-align: left
        width: fit-content
        gap: 12px
        padding: 16px
        position: relative
        left: 135px
        background-color: $base-color2
        z-index: 2
        font-size: 1.5rem

.projectPage // lack wavy pattern on background
    padding-bottom: 128px
    background-color: $base-color
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    color: #ffffff
    padding-top: 55px
    gap: 80px

    .title
            font-size: 2rem
            font-style: normal
            font-weight: 700
            line-height: 144.9%
            z-index: 2
            background-color: $base-color

    b
        color: $sub-color
    img
        height: 270px

    .boxleft
        display: flex
        font-size: 2.25rem
        gap: 109px
        justify-content: center
        align-items: center
        
        
        .text
            width: 235px
        
        .casebox
            z-index: 2
            height: 270px
        .caseStudy
            font-size: 1.25rem
            height: 46px
            padding: 25px 67px 25px 26px
            background-color: $base-color2
            position: relative
            bottom: 120px
            left: 330px
            z-index: 3
            width: 223px
            line-height: normal
            font-weight: 500
        
    .boxright
        display: flex
        font-size: 2.25rem
        gap: 109px
        justify-content: center
        align-items: center
        
        
        .text
            width: 235px
        
        .casebox
            z-index: 2
            height: 270px
        .caseStudy
            font-size: 1.25rem
            height: 46px
            padding: 25px 67px 25px 26px
            background-color: $base-color2
            position: relative
            bottom: 120px
            right: 240px
            z-index: 3
            width: 223px
            line-height: normal
            font-weight: 500
        
.casePage
    height: 443px
    background-color: $base-color2
    color: #F7C154
    display: flex
    align-content: center
    justify-content: center
    .button
        height: fit-content   
        font-size: 2.25rem
        padding: 24px
        border-radius: 4px
        border: 3px solid #F7C154
        background: #101112
        width: fit-content
        margin-top: 150px
        