$base-color: #212224
$primary-color: #ffc263
$sub-color: #FFCE82
html
    font-size: 16px
    font-family: Karla
    padding: 0px
    margin: 0px

    
header
    background-color: $base-color
    color: #FFFFFF
    .topheader
        font-family: Noto Sans
        font-size: 1.5rem
        display: flex
        justify-content: center
        gap: 3rem

    .home
        color: $sub-color
        border-bottom: 0.15rem solid $sub-color

