html {
  font-size: 16px;
  font-family: Karla;
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

.background {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  opacity: 0.3;
}

header {
  background-color: #212224;
  color: #FFFFFF;
  padding-top: 19px;
  padding-left: 10%;
  padding-right: 10%;
  height: 650px;
}
header .topheader {
  font-family: Noto Sans;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  height: -moz-fit-content;
  height: fit-content;
}
header .home {
  color: #FFCE82;
  border-bottom: 0.15rem solid #FFCE82;
}
header .mediumtext {
  display: flex;
  flex-direction: row;
}
header .intro {
  flex: 1;
}
header .headerRight {
  flex: 1;
  height: 500px;
  padding-top: 40px;
}
header .intro1 {
  font-size: 1.5rem;
  padding-top: 80px;
  font-weight: 400;
}
header .intro2 {
  font-size: 4rem;
  padding-top: 28px;
  padding-bottom: 22px;
  font-weight: 300;
}
header .intro2 b {
  color: #FFCE82;
}
header .intro3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 588px;
  padding-bottom: 36px;
}
header .intro3 b {
  color: #FFCE82;
}
header .intro4 {
  display: flex;
  gap: 10px;
  padding: 12px 18px;
  border: 3px solid #ffc263;
  width: -moz-fit-content;
  width: fit-content;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffc263;
  background: #101112;
}
header .intro4 .introsvg {
  width: 28px;
  height: 28px;
}

.bodyPage {
  background-color: #101112;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 105px;
  gap: 64px;
}
.bodyPage b {
  color: #ffc263;
  font-style: normal;
  font-weight: 700;
  line-height: 144.9%;
  font-size: 2rem;
}
.bodyPage .title {
  margin-top: 198px;
  margin-bottom: 120px;
  font-family: Karla;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.9%;
  background-color: #101112;
  z-index: 2;
}
.bodyPage .line {
  position: absolute;
  padding-top: 43px;
}
.bodyPage .boxleft {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: -moz-fit-content;
  width: fit-content;
  gap: 12px;
  padding: 16px;
  position: relative;
  right: 101px;
  background-color: #101112;
  z-index: 2;
}
.bodyPage .boxright {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  gap: 12px;
  padding: 16px;
  position: relative;
  left: 95px;
  background-color: #101112;
  z-index: 2;
}

.projectPage {
  padding-bottom: 128px;
  background-color: #212224;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
  padding-top: 55px;
  gap: 80px;
}
.projectPage .title {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.9%;
}
.projectPage b {
  color: #FFCE82;
}
.projectPage .boxleft {
  display: flex;
  font-size: 2.25rem;
  gap: 109px;
}
.projectPage .boxleft .text {
  width: 235px;
}
.projectPage .boxleft .caseStudy {
  font-size: 1.75rem;
  height: 46px;
  padding: 25px 67px 25px 26px;
  background-color: #101112;
  position: absolute;
}/*# sourceMappingURL=portfolio.css.map */